$red: #ED171F;
$blue: #0067B6;

#submitBDay {
    display: block;
    border: none;
    border-radius: 4px;
    background-color: $blue;
    color: #FFF;
    width: 100px;
    padding: 5px;
    margin-top: 20px;
    &:hover {
        cursor: pointer;
    }
    &:focus {
        outline: none;
    }
}