<section>
  <article id="formContent" *ngIf="imageReturned === false">
    <h1>Enter in your birthday:</h1>
    <form id="dateForm">
      <input type="number" min="1" max="12" [(ngModel)]="month" name="month" placeholder="mm">
      <input id="day" min="1" max="31" type="number" [(ngModel)]="day" name="day" placeholder="dd">
      <input type="number" [(ngModel)]="year" name="year" placeholder="yyyy">
      <button id="submitBDay" (click)="submitBirthday()">Enter</button>
      <p class="error">{{this.errorMsg }}</p>
      <p class="error">{{this.monthError}}</p>
      <p class="error">{{this.dayError}}</p>
      <p class="error">{{this.yearError}}</p>
    </form>
  </article>
  <article>  
    <div id="returnImage" *ngIf="imageReturned === true">
      <h2>Your Bearthday image!</h2>
      <p>Click on the image to save it.</p>
      <h3>{{birthDayDate}}</h3>
      <img src="{{imageUrl}}" class="earthImg" (click)="saveImage()" width="100%" height="auto" alt="">
    </div>
  </article>
</section>
