#nasa.active, #mission.active {
    overflow: hidden;
    border-right: .15em solid #FFF;
    white-space: nowrap; 
    margin: 0 auto; 
    letter-spacing: .15em;
    animation: 
      typing 3.5s steps(20, end),
      blink-caret .75s step-end infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
  
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #FFF; }
}

